<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MongoDb Settings-->
    <add key="mongo-host-name" value="localhost"/>
    <add key="mongo-host-port" value="27017"/>
    <add key="mongo-credential-db" value="admin"/>
    <add key="mongo-credential-username" value="poc_csharp"/>
    <add key="mongo-credential-password" value="password"/>
    <add key="mongo-database-name" value="poc-db-test"/>
    
  </appSettings>
</configuration>