<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongo-host-name" value="some.server.com"/>
    <add key="mongo-host-port" value="12214"/>
    <add key="mongo-credential-db" value="dbWhereCredentialsLive"/>
    <add key="mongo-credential-username" value="someUserName"/>
    <add key="mongo-credential-password" value="plainPassword"/>
    <add key="mongo-database-name" value="database-name"/>
    
  </appSettings>
</configuration>